<?xml version="1.0"?>
<launch>

  <arg name="model" default="$(find robotpos1)/urdf/robot.urdf.xacro"/>
  <arg name="gui" default="true" />
  


  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

 

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> 
  
  <node name="rviz" pkg="rviz" type="rviz"/> 
</launch>
