<?xml version="1.0"?>
<launch>
    
  <rosparam file="$(find ebamk2_hardware_interface)/config/controllers.yaml" command="load"/>
   
  <arg name="model" default="$(find ebamk2_description)/urdf/ebamk2_mesh.urdf"/>
  <arg name="gui" default="true" />
  
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="robot_hardware_interface" pkg="ebamk2_hardware_interface" type="ebamk2_hw_node" output="screen" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ebamk2_hardware_interface)/motors_control.rviz" />
    
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="
      	    /ebamk2/controller/state
            /ebamk2/controller/position/joint_1
            /ebamk2/controller/position/joint_2
            /ebamk2/controller/position/joint_3
            /ebamk2/controller/position/joint_4
        "/>
</launch>
